{% extends "base.html" %}

{% load static %}

{% block title %}
  Policy:
{% endblock title %}
{% block content %}
  <section class="page-section">
    <div class="container">
      <!-- Contact Section Heading-->
      <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">
        POLITYKA PRYWATNOŚCI SERWISU INTERNETOWEGO
      </h2>
      <br />
      <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">www.strengthcoach.pl</h2>
      <h5 class="text-center text-uppercase text-secondary mb-0">§1</h5>
      <h5 class="text-center text-uppercase text-secondary mb-0">POSTANOWIENIA OGÓLNE</h5>
      <br />
      <p class="text-sm-start">
        1.	Administratorem danych osobowych zbieranych za pośrednictwem Serwisu internetowego www.strengthcoach .pl jest ...”.
      </p>
      <p class="text-sm-start">2.	Dane osobowe zbierane ...</p>
      <p class="text-sm-start">3.	...</p>
    </div>
  </section>
{% endblock content %}
