{% extends "base.html" %}

{% load static %}

{% block title %}
  User:
  {{ object.first_name }} {{ object.last_name }}
{% endblock title %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2>{{ object.first_name }} {{ object.last_name }}</h2>
      </div>
    </div>
    {% if object == request.user %}
      <!-- Action buttons -->
      <div class="row">
        <div class="col-sm-12">
          <a class="btn btn-primary" href="{% url 'users:update' %}" role="button">My Info</a>
          <a class="btn btn-primary"
             href="{% url 'account_email' %}"
             role="button">E-Mail</a>
          <!-- Your Stuff: Custom user template urls -->
        </div>
      </div>
      <!-- End Action buttons -->
    {% endif %}
    <!-- User videos table -->
    <div class="row mt-4">
      <div class="col-sm-12">
        <h3>User Videos</h3>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Video</th>
                <th>Date Uploaded</th>
                <th>Process</th>
                <!-- Add more columns as needed -->
              </tr>
            </thead>
            <tbody>
              {% for video in object.uservideo_set.all %}
                <tr>
                  <td>
                    <video width="100%" height="240" controls>
                      <source src="{{ video.video.url }}" type="video/mp4" />
                      Your browser does not support the video tag.
                    </video>
                  </td>
                  <td>{{ video.created_at }}</td>
                  <!-- Add more columns as needed -->
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- End User videos table -->
  </div>
{% endblock content %}
